html, body {
	background-color: green;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	padding-left: 18px;
	padding-right: 18px;
}

.bottom {
	align-items: bottom;
}

.bottom>.card {
	align-self: flex-end;
}

.top {
	align-items: top;
}

.top>.card {
	align-self: flex-start;
}

.center {
	justify-content: center;
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.card {
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	height: fit-content;
	max-width: 400px;
	margin-bottom: 18px;
	margin-top: 18px;
}

.left-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.right-card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.black {
	color: white;
	background: #06070E;
}

#album_image {
	max-height: 48px;
	max-width: 48px;
	margin-right: 12px;
}

.white {
	color: black;
	background: white;
}

h1, h2 {
	margin: 2px;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 10px;
}

